body{
    text-align: center;
    background-color: rgb(255, 255, 255);
    font-family: "Inter", sans-serif;
    font-style: normal;
}

h1, h3 {
    color: rgb(0, 0, 0);
}

/*Guess Boxes*/
.row{
    display: flex;
    align-items: center;
    justify-items: center;
    padding: 2px;
    gap: 2px;
}

.box {
    height: 50px;
    width: 50px;
    border-color: rgb(208, 209, 212);
    border-width: 2px;
    display: inline-block;
    border-style: solid;
    line-height: 50px;
    font-size: 30px;
    font-weight: bold;
}

.guesses {
    padding-bottom: 15px;
    display: inline-block;
}

/*Keyboard*/
.keyboard-row {
    display: flex;
    gap: 2px;
    justify-content: center;
    padding: 2px;
}

.key{
    height: 45px;
    width: 35px;
    background-color: rgb(212, 214, 218);
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 8px;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;


}


.special-key {
    height: 45px;
    width: 45px;
    font-size: 10px;
    
}
.key, .special-key {
    box-sizing: border-box;
}
/* Responsive adjustments */
@media (max-width: 768px) {
    .key {
        height: 40px;
        width: 30px;
        font-size: 16px;
    }

    .special-key {
        height: 40px;
        width: 40px;
        font-size: 10px;
    }
}